In [25]:
#Python 
#•	Data types
#•	Control structures
#•	Functions
#•	Object oriented programming 
#Atomic / Primitive data type (int, float, Boolean)
#Non Primitive data type (list, tuples, dictionary) 

##########Atomic / Primitive data type
x = 5
print(type(x))
y=0.15
print (type(y))
s="Hello world"
print(type (s))
k=True
print(type(k))
d=5+4j
print(type(d))
print("  \n")
###################Non Primitive data type
x=[12,5,'hi','hello',56]
print(type(x))
print (x[0])
print(x[-1])
print(x[1])
print(x[0:4])

x[0]=19
print(x)
x.append(112)
print(x)
x.insert(0,100000)
print(x)
x.remove("hi")
print(x)
print("  \n")
############Tuples
##less Memory,mem intensive, very fast execution, can't edit,append
y=(12,54,65,'hi','hello')
print(y)
print(y[0:4])
print(" Tuples END \n")
################Dictionary
d={'name':'Chaitu',"skills":'Docker','office':'optum'}
print(type(d))
print(d['name'])
print(d['skills'])
d['skills'] = 'K8s'
print(d['skills'])
print("Dictionary ENDS  \n")

&lt;class &#39;int&#39;&gt;
&lt;class &#39;float&#39;&gt;
&lt;class &#39;str&#39;&gt;
&lt;class &#39;bool&#39;&gt;
&lt;class &#39;complex&#39;&gt;


&lt;class &#39;list&#39;&gt;
12
56
5
[12, 5, &#39;hi&#39;, &#39;hello&#39;]
[19, 5, &#39;hi&#39;, &#39;hello&#39;, 56]
[19, 5, &#39;hi&#39;, &#39;hello&#39;, 56, 112]
[100000, 19, 5, &#39;hi&#39;, &#39;hello&#39;, 56, 112]
[100000, 19, 5, &#39;hello&#39;, 56, 112]


(12, 54, 65, &#39;hi&#39;, &#39;hello&#39;)
(12, 54, 65, &#39;hi&#39;)
 Tuples END

&lt;class &#39;dict&#39;&gt;
Chaitu
Docker
K8s
Dictionary ENDS

In [32]:
########Loops & Conditions
###########IF
a=11
if a < 20:
    print('hi')
elif a > 21 and a < 45:
    print('hello')
else:
    print ('you are good')

print(" IF ENDS \n")

#################For & While loop 
for i in range(3): ##range(3,10) ###range(1,10,2) 1,3,5,7,9
    print("welcome to Hellow world of python")
#######more than 25
temp = [23,23,20,29,21,24,26,29,23,25,29,28,21]
g25=[]
for i in temp:
    if i > 25:
        g25.append(i) 
print(g25)

#########
g25=[i for i in temp if i>25]
print(g25)

#############While
x=5
while x < 10:
    print("hello python")
    x=x+1
b=2
while True:
    print("hi there",b)
    b=b+1
    if b ==10:
        break

hi
 IF ENDS

welcome to Hellow world of python
welcome to Hellow world of python
welcome to Hellow world of python
[29, 26, 29, 29, 28]
[29, 26, 29, 29, 28]
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hi there 2
hi there 3
hi there 4
hi there 5
hi there 6
hi there 7
hi there 8
hi there 9

In [44]:
############Functions

def chaitu():
    print("hello, welcome")
    return None
chaitu()
print(" \n")



def add1(a,b):
    "this is sampel documentation in function "
    c=a+b
    print("addition of %d and %d is %d"%(a,b,c))
    return c
add1(5,2)

#%.2f fraction of float untill 2 decimal values

add1.__doc__

hello, welcome


addition of 5 and 2 is 7

&#39;this is sampel documentation in function &#39;

In [47]:
###Lambda function
#anonymous function
x=lambda x:x+5
print (x(5))
print(x(24))

10
29

In [57]:
#### CLASS
class A:
    x=45
    y=55
s=A()
print(s.x)
print(s.y)

class chaitu:
    skill1='docker'
    skill2='k8s'
    skill3='ML'
    def new_fun(self):
        print("hello its function")
        print(self.skill1,self.skill2)
        return None
    def newsum(self,a,b):
        c=a+b
        return c
c=chaitu()
print(c.skill1)
print(c.new_fun())

print(c.newsum(22,33))
 #chaitu = owner
 #c= Tenants
 #so owner can use tenants 

######Inheirt class chaitu in class B
class B(chaitu):
    z=33
    def myfun(self):
        print("sampel")
o=B()
o.newsum(22,445454)

45
55
docker
hello its function
docker k8s
None
55

445476

In [58]:
####       import <file name> ## Sample import code3
import prometheus_to_csv_mysql as pm
pm.pfed12()

ModuleNotFoundError: No module named &#39;prometheus_to_csv_mysql&#39;

In [59]:
import os
os.getcwd()

&#39;c:\\Users\\vchaita3\\Desktop\\files\\Jupyter Notebook\\Python_demo&#39;